"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  "exception-reporting":
    userId: "27ed95c6-4aaa-4238-99b8-7ff1944d6bc6"
  welcome:
    showOnStartup: false
