[user]
	name = {{ terminal.git_user }}
	email = {{ terminal.git_email }}

[push]
	default = simple

[alias]
  co = checkout
  ci = commit
  st = status
  cp = cherry-pick
  br = branch
  hist = !sh -c 'git log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -${1:-20} ${2:-HEAD}' -
  type = cat-file -t
  dump = cat-file -p
  last = !sh -c 'git log -${1:-1} ${2:-HEAD}' -
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
  changed = !sh -c 'git show --name-only ${0:-HEAD}'

  # one-line log
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m
  m = commit --amend --verbose

  d = diff
  ds = diff --stat
  dc = diff --cached

  s = status -s
  cob = checkout -b

  # list branches sorted by last modified
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"

[core]
	editor = nvim

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
